.menu-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.menu-item {
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 8px;
}

.menu-item h3 {
    margin: 0;
    font-size: 1.2em;
}

.menu-item p {
    margin: 6px 0;
}

.menu-item span {
    font-weight: bold;
    color: #444;
}


.about-text {
    margin-top: 20px;
    line-height: 1.6;
    font-size: 1rem;
    color: #333;
}
